<h3 class="mb-6 main-title">Thank you for applying!</h3>
<p class="w-full mb-6 primary-3 paragraph">
  We've received your application to launch a Talent Token. Our team is reviewing it and will get back to you shortly!
</p>
<p class="w-full mb-10 primary-3 paragraph">
  Meanwhile, you can support other talented builders on the platform. Success is collective, right?
</p>
<%= link_to "Support talented builders", talent_index_url, class: "btn btn-primary fw-800 text-5xl py-4 mb-5 w-full" %>
