<h3 class="mb-6 main-title">Maybe next time? 💭</h3>
<p class="w-full mb-6 primary-3 paragraph">
  We are sorry to say that your application to launch a token hasn't been approved. Your profile on Talent Protocol hasn't met the criteria we have defined in order to approve new talent tokens.
</p>
<p class="w-full mb-6 primary-3 paragraph">
  <strong>Message from <%= @reviewer.display_name  || @reviewer.username%>:</strong>
  <br/>
  <%= @note %>
  <br/>
  <%= link_to "Click here to chat with #{@reviewer.display_name || @reviewer.username}", messages_url(user: @reviewer.id) %>
</p>
<p class="w-full mb-10 primary-3 paragraph">
  However, this is not forever: try to add more details to your profile, making it as complete as possible.
  You can also ask for feedback and help on our <a href="https://discord.com/invite/37HePUGeSa">Discord</a>, the community is here to help you!
</p>
<%= link_to "Let's do this", edit_profile_url(username: @user.username), class: "btn btn-primary fw-800 text-5xl py-4 mb-5 w-full" %>
